.maindiv{
    text-align: center;
}
.div1{
    background-color: #34495e;
    height: 150px;
}
.div1 ul li{
    display: inline-block;
    margin-top: 45px;
    
}
.div1 ul li a:hover{
    background-color: rgba(37, 226, 94, 0.781);
    transition: 2s;
}
.div1 ul li a{
    border: 2px solid #dab180d3;
    text-decoration: none;
    background-color: #e67e22;
    padding: 4px;
    margin-right: 5px;
    color: rgba(43, 45, 46, 0.61);
    font-weight: bold;
}
.div2{
    background-color: #9b59b6;
    height: 300px;
}
.div3{
    background-color: #2c3e50;
    height: 100px;
    text-align: center;
    padding: 40px;
    color: burlywood;
}
.div3 strong{
    color: darkkhaki;
    font-weight: bold;
}
.div4{
    border: 3px dotted orange;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #34495e;
    display: inline-block;
    position: relative;
    top: 120px;
    right: 20px;
}
.div5{
    border: 3px dotted orange;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #34495e;
    display: inline-block;
    position: relative;
    top: 40px;
}
.div6{
    border: 3px solid orange;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #34495e;
    display: inline-block;
    position: relative;
    top: 150px;
}
.div7{
    border: 3px dotted orange;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #34495e;
    display: inline-block;
    position: relative;
    top: 40px;
}
.div8{
    border: 3px dotted orange;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #34495e;
    display: inline-block;
    position: relative;
    top: 120px;
    left: 20px;
}
.divh{
    width: 5px;
    height: 26px;
    background-color: #fff;
    position: relative;
    left: 26px;
    top: 4px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.divh span{
    color: orange;
    position: relative;
    top: 18px;
    right: 4px;
    font-size: 30px;
}
.divj{
    width: 5px;
    height: 26px;
    background-color: #fff;
    position: relative;
    left: 25px;
    top: 4px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.divj span{
    color: orange;
    position: relative;
    top: 18px;
    right: 4px;
    font-size: 30px;
}
.divf{
    width: 5px;
    height: 26px;
    background-color: #fff;
    position: relative;
    left: 19px;
    top: 4px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.divf span{
    color: orange;
    position: relative;
    top: 18px;
    right: 4px;
    font-size: 30px;

}
.divd{
    width: 5px;
    height: 26px;
    background-color: #fff;
    position: relative;
    left: 31px;
    top: 4px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.divd span{
    color: orange;
    position: relative;
    top: 18px;
    right: 4px;
    font-size: 30px;
}